.form {
    max-width: 700px;
    padding-left: 20px;
}
.form-group {
    margin-top: 15px;
    border: 1px solid gray;
    height: 40px;
    display: flex;
}
.form-group label {
    width: 150px;
    align-items: center;
    display: flex;
    padding-left: 20px;
    background-color: #ccc;
}
.form-group input {
    width: 100%;
    border: 0px;
    border-left: 1px solid gray;
}
.form .actions{
    margin-top: 20px;
    display: flex;
    justify-content: right;
}